
@model MvcSchoolWebApp.Models.Profile

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .cust-icon {
        width: 20px;
        height: 20px;
    }

    .txt-align-rgt {
        text-align: right;
    }

    .txt-align-lft {
        text-align: left;
    }
</style>

@using (Html.BeginForm())
{


    <section class="content">
        <!-- Info boxes -->


        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">


                <div class="ibox float-e-margins">
                    <div id="dvborder">

                        <div class="ibox-title">
                            <h3>
                                SuperNova Solutions / 75400 Karachi
                            </h3>

                        </div>


                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <button type="button" id="btnSave"> <img src="~/Content/dbtheme/dist/img/SaveIco.png" class="cust-icon" /> Save</button>

                                    <button type="button" class=".profbtn "> <img src="~/Content/dbtheme/dist/img/Redcross.png" class="cust-icon" /> Cancel</button>

                                    <button type="button" class=".profbtn"> <img src="~/Content/dbtheme/dist/img/pdfico.png" class="cust-icon" /> New</button>

                                    <button type="button" class=".profbtn"> <img src="~/Content/dbtheme/dist/img/pdfico.png" class="cust-icon" /> Value Point Balance Summary</button>

                                    <button type="button" class=".profbtn"> <img src="~/Content/dbtheme/dist/img/excelico.png" class="cust-icon" />Value Point Activity Download</button>

                                    <button type="button" class=".profbtn"> Create Activity</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">
                                        <i class="glyphicon glyphicon-circle-arrow-down btn-lg"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <b style="font-family:Arial">Genral Company Information </b>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="button" id="btnEdit" style="display:none;"> <img src="~/Content/dbtheme/dist/img/dl.png" class="cust-icon" /> Edit</button>
                                        <img src="/Content/dbtheme/dist/img/ic.jpg" class="pull-right cust-icon" style="margin-top:5px; margin-right:5px;" />
                                    </div>

                                </div>
                                <div style="background-color: #ffffff">
                                    <div class="col-md-12" style="margin-top:7px; margin-bottom: 10px; border-top: solid; border-top-color: #0da6ff; border-width: 3px;">
                                        <div class="col-sm-6">
                                            <div style="margin-left: 20px; margin-top: 20px; font-family: Arial; font-size: small">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label>
                                                            Name 1:
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <label id="lblName1">SuperNova Solutions</label>
                                                        <input type="text" id="txtName1" style="display:none;" class="form-control input-sm " />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label>
                                                            Name 2:
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-5">
                                                        <label id="lblName2"></label>
                                                        <input type="text" id="txtName2" style="display:none;" class="form-control input-sm" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-left: 10px;">
                                                <b>Partner Finder</b>
                                            </div>
                                            <div class="row" style="margin-top: 10px; margin-left: 10px; border-top: solid; border-top-color: #c4bdbd; border-width: 2px; width: 90%;">
                                                <div class="col-xs-12">
                                                    <p>
                                                        Publish To Supernova Solutions:
                                                        <input type="checkbox" />
                                                    </p>
                                                    <p>Partner Since :</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xs-6">
                                            <div class="row" style="margin-top: 10px;">
                                                <div class="col-xs-8">
                                                    <b>Main Address And Communication Data</b>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 10px; border-top: solid; border-top-color: #c4bdbd; border-width: 2px;">
                                                <div class="col-xs-12">
                                                    <div style="margin-left: 10px; margin-top: 10px; font-family: Arial; font-size:small; ">
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    ID:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.empid, new {id = "lblempid" })
                                                                @*<label id="lblStrt2">206 Park Avenue</label>*@
                                                                <input type="text" id="txtempid" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Name:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.fullname, new { id = "lblfullname" })
                                                                @*<label id="lblStrt2">206 Park Avenue</label>*@
                                                                <input type="text" id="txtfullname" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Last Name:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.lastname, new { id = "lblemplastname" })
                                                                @*<label id="lblStrt2">206 Park Avenue</label>*@
                                                                <input type="text" id="txtemplastname" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Father Name:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.fathername, new { id = "lblempfathername" })
                                                                @*<label id="lblStrt2">206 Park Avenue</label>*@
                                                                <input type="text" id="txtempfathername" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    D.O.B.:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.dob, new { id = "lblempdob" })
                                                                @*<label id="lblStrt2">206 Park Avenue</label>*@
                                                                <input type="text" id="txtempdob" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    CNIC:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.nic, new { id = "lblcnic" })
                                                                @*<label id="lblCtry">PK</label>*@
                                                                <input type="text" id="txtcnic" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Joining Date:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.joiningdate, new { id = "lbljoindate" })
                                                                @*<label id="lblCtry">PK</label>*@
                                                                <input type="text" id="txtjoindate" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Gender:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.gender, new { id = "lblgender" })
                                                                @*<label id="lblCtry">PK</label>*@
                                                                <input type="text" id="txtgender" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Designation:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.designation, new { id = "lbldesignation" })
                                                                @*<label id="lblStrt2">206 Park Avenue</label>*@
                                                                <input type="text" id="txtdesignation" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Contact Number:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.district, new { id = "lblPhone" })
                                                                @*<label id="lblPhone">PK  213 438 7249</label>*@
                                                                <input type="text" id="txtPhone" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Mailing Address:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @*@Html.Label(Model.paddress, new { id = "lblStrt2" })*@

                                                                <label id="lblStrt2">@ViewBag.address</label>
                                                                <input type="text" id="txtStrt2" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        
                                                        @*<div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Street 2:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.paddress2)
                                                                @*<label id="lblStrt1">Main Shahra -e- Faisal</label>
                                                                <input type="text" id="txtStrt1" class="form-control input-sm" />
                                                            </div>
                                                        </div>*@
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Postal/Zip Code:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.zipcode, new { id = "lblZip" })
                                                                @*<label id="lblZip">7540</label>*@
                                                                <input type="text" id="txtZip" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    City:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.city, new { id = "lblCity" })
                                                                @*<label id="lblCity">Karachi</label>*@
                                                                <input type="text" id="txtCity" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Country:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.nationality, new { id = "lblCtry" })
                                                                @*<label id="lblCtry">PK</label>*@
                                                                <input type="text" id="txtCtry" style="display:none;" class="form-control input-sm" />
                                                            </div>
                                                        </div>

                                                        @*<div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Street/House Num:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                @Html.Label(Model.paddress)
                                                                @*<label id="lblStrt2">206 Park Avenue</label>
                                                                <input type="text" id="txtStrt2" class="form-control input-sm" />
                                                            </div>
                                                        </div>*@
                                                        @*<div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Street4:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                <label id="lblStrt4">....</label>
                                                                <input type="text" id="txtStrt4" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    State Province:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                <label id="lblProv">Pakistan</label>
                                                                <input type="text" id="txtProv" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        
                                                        
                                                        
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Telefex:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                <label id="lblFex">PK  (92) (21) (345-2)</label>
                                                                <input type="text" id="txtFex" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Email:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                <label id="lblEmail">info@supernova.com.pk</label>
                                                                <input type="text" id="txtEmail" class="form-control input-sm" />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 txt-align-rgt">
                                                                <label>
                                                                    Company Website:
                                                                </label>
                                                            </div>
                                                            <div class="col-xs-6 txt-align-lft">
                                                                <label id="lblWeb">www.supernova.com.pk</label>
                                                                <input type="text" id="txtWeb" class="form-control input-sm" />
                                                            </div>
                                                        </div>*@

                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div style="margin-left: 10px;">
                                        <b>About Us</b>
                                    </div>
                                    <div class="row" style="margin-top: 10px; background-color:#c4bdbd; margin-left: 10px; border-top: solid; border-top-color: #c4bdbd; border-width:1px; width: 95%;">
                                        <div class="col-xs-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
}


