@model MvcSchoolWebApp.Models.PMModel
@{
    ViewBag.Title = "Operation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src=@Url.Content("~/Content/js/Operations.js?n=1") asp-append-version="true"></script>

<section class="content">
    <!-- Info boxes -->
    <div class="row">

        <div class="col-lg-12">

            <div class="ibox float-e-margins">
                <div id="dvborder">
                    <div class="ibox-title ">
                    <h3 class="text-bold text-info">  Operations</h3>
                    </div>

                    <div class="ibox-content">
                        <div class="row">
                            <form method="post" role="form" id="operationsForm" name="operationsForm">

                                <div class="row ">

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Material No.</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.matnoid, Model.matno, "Material No", new { @class = "form-control txtmargins mini ", @name = "txtMatNoPOP", @id = "txtMatNoPOP", @required = true })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Plant</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.plantid, Model.plant, "Plant", new { @class = "form-control txtmargins mini  ", @name = "txtPlantPOP", @id = "txtPlantPOP", @required = true })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Val Date</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(model => model.valdate, "Date", new { @Value = ViewBag.begdate, @class = "form-control txtmargins input-sm input-hight ", @name = "txtValDatePOP", @id = "txtValDatePOP", @required = true })
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Ref. Material</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.refmatid, Model.refmat, "Ref. Material", new { @class = "form-control txtmargins mini   ", @name = "txtRefMatPOP", @id = "txtRefMatPOP" })
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <label>Ref Plant</label>
                                        </div>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(m => m.refplantid, Model.refplant, "Ref Plant", new { @class = "form-control txtmargins mini  ", @name = "txtRefPlantPOP", @id = "txtRefPlantPOP" })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row">
                                    <div class="col-md-4">
                                        <div class="col-md-5">
                                            <input id="showdivOP" type="submit" value="Submit" name="btnEnter" class="btn btn-sm btn-danger" />

                                        </div>
                                    </div>
                                </div>*@
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="col-md-12 txtmargins">
                                            <button id="showdivOP" type="submit" name="btnEnter"> <img src="~/Content/dbtheme/dist/img/SaveIco.png" width="20" height="20" /> Save</button>
                                            <button type="button"> <img src="~/Content/dbtheme/dist/img/dl.png" width="20" height="20" /> Edit</button>
                                            <button type="button" class=".profbtn"> <img src="~/Content/dbtheme/dist/img/Redcross.png" width="20" height="20" /> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="pmdiv">
        <div class="col-lg-12 col-sm-12 col-md-12 col-lg-12">

            <div class="ibox float-e-margins">
                <div id="dvborder">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-12">
                                <!-- Custom Tabs -->
                                <div class="card">
                                    <div class="card-header d-flex p-0">
                                        <ul class="nav nav-pills ml-auto p-2">
                                            <li class="nav-item nav-width " ><a class="nav-link active btn  btn-default btn-sm " href="#tab_1" data-toggle="tab">Basic Data</a></li>
                                            <li class="nav-item nav-width "><a class="nav-link active btn  btn-default btn-sm " href="#tab_2" data-toggle="tab">Administration</a></li>
                                        </ul>
                                    </div><!-- /.card-header -->
                                    <div class="card-body"> 
                                        <div class="row">
                                            <div class="col-md-6 ">
                                                <div class="col-md-12 txtmargins">
                                                    <button id="showdivOP" type="submit" name="btnEnter"> <img src="~/Content/dbtheme/dist/img/SaveIco.png" width="20" height="20" /> Save</button>
                                                    <button type="button"> <img src="~/Content/dbtheme/dist/img/dl.png" width="20" height="20" /> Edit</button>
                                                    <button type="button" class=".profbtn"> <img src="~/Content/dbtheme/dist/img/Redcross.png" width="20" height="20" /> Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    <br />
                                        <div class="tab-content">
                                            @* Bacis Data *@
                                            <div class="tab-pane active" id="tab_1">
                                                <div class="row ">
                                                    <div class="col-md-4">
                                                        <div class="col-md-6">
                                                            <label>Use</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.DropDownListFor(m => m.useid, Model.use, "Use", new { @class = "form-control txtmargins mini ", @name = "txtUsePOP", @id = "txtUsePOP", @required = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="col-md-6">
                                                            <label>Base Qauntity</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            @Html.TextBoxFor(model => model.baseqty, new { @class = "form-control txtmargins input-sm input-hight ", @name = "txtBaseQtyPOP", @id = "txtBaseQtyPOP", @required = true })
                                                        </div>
                                                        <div class="col-md-2">
                                                            @Html.TextBoxFor(model => model.baseqtyval, new { @class = "form-control txtmargins input-sm input-hight ", @name = "txtBaseQtyValPOP", @id = "txtBaseQtyValPOP", @readonly = true })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    
                                                    <div class="col-md-4">
                                                        <div class="col-md-6">
                                                            <label>From Lot Size</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(model => model.flotsze, new { @class = "form-control txtmargins input-sm input-hight ", @name = "txtFLotSzPOP", @id = "txtFLotSzPOP", @required = true })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="col-md-6">
                                                            <label>To Lot Size</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(model => model.tlotsze, new { @class = "form-control txtmargins input-sm input-hight ", @name = "txtTLotSzPOP", @id = "txtTLotSzPOP", @required = true })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="col-md-6">
                                                            <label>Description</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(model => model.desc, new { @class = "form-control txtmargins input-sm input-hight ", @name = "txtDescPOP", @id = "txtDescPOP", @required = true })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="col-md-6">
                                                            <label>Long Text</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(model => model.longtxt, new { @class = "form-control txtmargins input-sm input-hight ", @name = "txtLongTxtPOP", @id = "txtLongTxtPOP", @required = true })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /.tab-pane -->
                                            
                                            @* Administration *@
                                            <div class="tab-pane" id="tab_2">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="col-md-6">
                                                            <label>Created User</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(model => model.creausr, new { @class = "form-control txtmargins input-sm input-hight ", @name = "txtCreaByPOP", @id = "txtCreaByPOP", @readonly = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="col-md-6">
                                                            <label>Changed User</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(model => model.chgusr, new { @class = "form-control txtmargins input-sm input-hight ", @name = "txtChgByPOP", @id = "txtChgByPOP", @readonly = true })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="col-md-6">
                                                            <label>Created Date</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(model => model.creadate, new { @class = "form-control txtmargins input-sm input-hight ", @name = "txtCreaDatePOP", @id = "txtCreaDatePOP", @readonly = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="col-md-6">
                                                            <label>Changed Date</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            @Html.TextBoxFor(model => model.chgdate, new { @class = "form-control txtmargins input-sm input-hight ", @name = "txtChgDatePOP", @id = "txtChgDatePOP", @readonly = true })
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <!-- /.tab-pane -->
                                        </div>
                                        <!-- /.tab-content -->
                                    </div><!-- /.card-body -->
                                </div>
                                <!-- ./card -->
                                @*<div id="pop_box_div">
                                    <div class="pop_jqGrid ">
                                        <table id="pop_table"></table>
                                    </div>
                                </div>*@
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <div class="table-responsive-sm" style="overflow-x:scroll;">
                                    <table class="users table txtmargins  table-sm table-bordered table-hover " style="margin-right: 5px; margin-top: 2px; ">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width:20px; background-color: #e7e7e7;" class="tbheadpad">
                                                    <img src="~/Content/dbtheme/dist/img/ic8.png" width="16" height="16" />
                                                </th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-1 row-A">Actions</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-2 row-B">OP No.</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-3 row-C">Ctrl Key</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-4 row-D">WrkCtr</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-5 row-E">Plant</th>
                                                <th scope="col" style="background-color: #e7e7e7;" class="tbheadpad row-6 row-F">Operation Name</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-7 row-G">Base Qty'</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-8 row-H">Opr Unit</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-9 row-I">FOH Rate</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-10 row-J">FOH Time</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-11 row-K">FOH Unit</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-12 row-E">Machine Rate</th>
                                                <th scope="col" style="background-color: #e7e7e7;" class="tbheadpad row-13 row-F">M. Time</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-14 row-G">M. Unit</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-15 row-E">Labor Rate</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-15 row-E">L. Time</th>
                                                <th scope="col" style="background-color: #e7e7e7; " class="tbheadpad row-15 row-E">L. Unit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" style="background-color: #e7e7e7;" class=".tbheadpad"></th>
                                                <td class=".tbheadpad"><i class="glyphicon glyphicon-edit"></i> &nbsp;&nbsp;<i class="glyphicon glyphicon-trash"></i></td>
                                                <td class=".tbheadpad">Otto</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>


                                            </tr>

                                            <tr>
                                                <th scope="row" style="background-color: #e7e7e7; padding-bottom: 2px; padding-top: 2px;"></th>
                                                <td class=".tbheadpad"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp; <i class="glyphicon glyphicon-trash"></i></td>
                                                <td class=".tbheadpad">Thornton</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>

                                            </tr>
                                            <tr>
                                                <th scope="row" style="background-color: #e7e7e7; padding-bottom: 2px; padding-top: 2px;"></th>
                                                <td class=".tbheadpad"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp; <i class="glyphicon glyphicon-trash"></i></td>
                                                <td class=".tbheadpad">Thornton</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>

                                            </tr>
                                            <tr>
                                                <th scope="row" style="background-color: #e7e7e7; padding-bottom: 2px; padding-top: 2px;"></th>
                                                <td class=".tbheadpad"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp; <i class="glyphicon glyphicon-trash"></i></td>
                                                <td class=".tbheadpad">Thornton</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>

                                            </tr>
                                            <tr>
                                                <th scope="row" style="background-color: #e7e7e7; padding-bottom: 2px; padding-top: 2px;"></th>
                                                <td class=".tbheadpad"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp; <i class="glyphicon glyphicon-trash"></i></td>
                                                <td class=".tbheadpad">Thornton</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>

                                            </tr>
                                            <tr>
                                                <th scope="row" style="background-color: #e7e7e7; padding-bottom: 2px; padding-top: 2px;"></th>
                                                <td class=".tbheadpad"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp; <i class="glyphicon glyphicon-trash"></i></td>
                                                <td class=".tbheadpad">Thornton</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>
                                                <td class=".tbheadpad">Sample Data</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


